<div class="row-fluid">
    <div class="span12">
        <div class="portlet box {$Think.config.PORLET_COLOR}">
            <div class="portlet-title">
                <div class="caption">
                    {$Think.config.ADD_BUTTON}{$conInfo.remark}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <form action="{:U('Article/insert')}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                        <div class="tabbable tabbable-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1_1" data-toggle="tab">文章</a></li>
                                <li><a href="#tab_1_2" data-toggle="tab">类别&标签</a></li>
                                <li><a href="#tab_1_3" data-toggle="tab">标题&关键字&描述</a></li>
                            </ul>
                            <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1">
                                        <div class="control-group">
                                            <label class="control-label">文章标题</label>
                                            <div class="controls">
                                                <input type="text" placeholder="文章标题" class="m-wrap large"  name="title" />
                                                <span class="help-inline">不能为空</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">文章封面</label>
                                            <div class="controls">
                                                <input type="file" name="imgFile" />
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">文章来源</label>
                                            <div class="controls">
                                                <select name="articlesource">
                                                    <option value="原创">原创</option>
                                                    <option value="转载">转载</option>
                                                </select>
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">文章内容</label>
                                            <div class="controls">
                                                <!-- 加载编辑器的容器 -->
                                                <script id="container" name="content" type="text/plain"></script>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">维护等级</label>
                                            <div class="controls">
                                                <input type="text" placeholder="维护等级" class="m-wrap small" name="maintainorder" value="99"/>
                                                <span class="help-inline">按什么顺序排序</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_1_2">
                                       <div class="control-group">
                                            <label class="control-label">标签选择</label>
                                            <div class="controls tagclass">
                                                <select multiple="multiple" id="tag_multi_select2" data-placeholder="标签选择" class="chosen span3 chzn-done" tabindex="-1"  name="tag_multi_select2[]">
                                                    <volist name="allTagInfo" id="vo">
                                                        <option value='{$vo.id}' >{$vo.displayname}</option>
                                                    </volist>
                                                </select>
                                                &nbsp<a href="#" id="addOneTag" class="btn red">{$Think.config.ADD_BUTTON}一个新标签</a>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">分类选择</label>
                                            <div class="controls">
                                                <select data-placeholder="分类选择" class="chosen span3 chzn-done" tabindex="-1" id="selOY2" name="categoryid" style="display: none;">
                                                    <option></option>
                                                    <volist name="allCateInfo" id="vo">
                                                        <optgroup label="{$vo.displayname}" data-id="{$vo.id}">
                                                            <volist name="vo.child" id="vovo">
                                                                <option value='{$vovo.id}' >{$vovo.displayname}</option>
                                                            </volist>
                                                        </optgroup>    
                                                    </volist>
                                                </select>
                                                &nbsp<a href="#" id="addOneCategory" class="btn green">{$Think.config.ADD_BUTTON}一个新类别</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_1_3">
                                        <div class="control-group">
                                                <label class="control-label">网页H1</label>
                                            <div class="controls">
                                                <input type="text" placeholder="网页H1" class="m-wrap medium" id="manager" name="pageh1" />
                                                <span class="help-inline">与seo有关的网页h1</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                                <label class="control-label">网页title</label>
                                            <div class="controls">
                                                <input type="text" placeholder="pagetitle" class="m-wrap medium" id="manager" name="pagetitle" />
                                                <span class="help-inline">与seo有关的title</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                                <label class="control-label">网页keyword</label>
                                            <div class="controls">
                                                <input type="text" placeholder="pagekeyword" class="m-wrap medium" name="pagekeyword" />
                                                <span class="help-inline">与seo有关的keyword</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                                <label class="control-label">网页description</label>
                                            <div class="controls">
                                                <input type="text" placeholder="pagedescription" class="m-wrap medium" name="pagedescription" />
                                                <span class="help-inline">与seo有关的description</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                    <button type="submit" class="btn blue">{$Think.config.SAVE_BUTTON}</button>
                                    <a href="{:U('Article/index')}" class="btn">{$Think.config.CANCEL_BUTTON}</a>
                            </div>
                        </form>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Tag:modal-add" />
<include file="Category:modal-add" />
<include file="Public:modal-alert" />
