<extend name="Public:appv3" />
<block name="main">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加文章</h3>
        </div>
        <form action="{:U('article/update')}" method="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="panel-body">
                <input type="hidden" name="id" value="{$result.id}" />
                <div class="form-group">
                    <label class="col-md-2 control-label">文章标题</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control"  name="title" autocomplete="off" value="{$result.title}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">文章封面</label>
                    <div class="col-md-1">
                        <span class="btn btn-success fileinput-button">
                            <span>上传图片</span>
                            <input type="file" name="imageFile" >
                        </span>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-body" id="imagePreview">
                                <img src="{$result.image}" alt="">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="image" value="{$result.image}" />
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">文章来源</label>
                    <div class="col-md-6">
                        <select name="articlesource" class="form-control">
                            <option value="原创">原创</option>
                            <option value="转载">转载</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">文章内容</label>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="btn-group">
                            <span class="btn btn-success fileinput-button">
                                <span>上传图片</span>
                                <input id="fileupload" type="file" name="files">
                            </span>
                                    <a href="javascript:;" class="btn btn-primary view-content">预览文章</a>
                                </div>
                            </div>
                            <div class="panel-body my-markdown-editor">
                                <textarea name="content" id="article-content" cols="30" rows="30" class="form-control">{$result.content}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-2" >
                        <div class="panel panel-default">
                            <div class="panel-heading">文章预览</div>
                            <div class="panel-body" id="markhtml">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">排序</label>
                    <div class="col-md-6">
                        <input type="text" name="maintainorder" value="99" class="form-control" value="{$result.maintainorder}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">标签选择</label>
                    <div class="col-md-6">
                        <select multiple="multiple" tabindex="-1"  name="tag_multi_select2[]" class="form-control">
                            <volist name="allTagInfo" id="vo">
                                <option value='{$vo.id}' <eq name="vo['selected']" value="1">selected="selected"</eq>>{$vo.tag_name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">分类选择</label>
                    <div class="col-md-6">
                        <select tabindex="-1" name="category_id" class="form-control">
                            <option></option>
                            <volist name="allCateInfo" id="vo">
                                <option value="{$vo.id}" <eq name="vo['id']" value="$result.category_id">selected="selected"</eq>>{$vo.category_name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="{:U('article/index')}" class="btn col-md-offset-2">取消</a>
                <button class="btn btn-success" type="submit">确定</button>
            </div>
        </form>
    </div>
</block>
<block name="pagecss">
    <link rel="stylesheet" href="__PUBLIC__/plugins/jquery-file-upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/select2/4.0.3/css/select2.min.css" />
</block>
<block name="pagejs">
    <script src="//cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>
    <script src="__PUBLIC__/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="__PUBLIC__/own-js/Article/ae.js?ver={:rand(5000, 0)}"></script>
</block>