<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    {$Think.config.EDIT_BUTTON}链接
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tab-pane">
                            <!-- BEGIN FORM-->
                            <form action="{:U('/Home/Url/update')}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <div class="hidden">
                                    <input type="hidden" value="{$result.id}" name="id" />
                                </div>
                                <div class="control-group">
                                        <label class="control-label">
                                            requestpath</label>
                                    <div class="controls">
                                        <input type="text" placeholder="RequestPath" class="m-wrap medium"  name="requestpath" value="{$result.requestpath}" />
                                        <span class="help-inline">不能为空</span>
                                    </div>
                                 </div>
                                 <div class="control-group">
                                        <label class="control-label">
                                            optdataid</label>
                                    <div class="controls">
                                        <input type="text" placeholder="OptDataId" class="m-wrap medium" name="optdataid" value="{$result.optdataid}"/>
                                        <span class="help-inline"></span>
                                    </div>
                                 </div>
                                 <div class="control-group">
                                        <label class="control-label">
                                            modeltype</label>
                                    <div class="controls">
                                        <select name="modeltype">
                                            <option value="article" <eq value="article" name="result.modeltype">selected="true"</eq>>文章</option>
                                            <option value="category" <eq value="category" name="result.modeltype">selected="true"</eq>>类别</option>
                                            <option value="tag" <eq value="tag" name="result.modeltype">selected="true"</eq>>文章</option>>标签</option>
                                        </select>
                                        <span class="help-inline"></span>
                                    </div>
                                 </div>
                                    <div class="control-group">
                                        <label class="control-label">
                                            jumptype</label>
                                        <div class="controls">
                                            <select name="isjump">
                                                <option value="NO" <eq value="NO" name="result.isjump">selected="true"</eq>>NO</option>
                                                <option value="301" <eq value="301" name="result.isjump">selected="true"</eq>>301</option>
                                                <option value="302" <eq value="302" name="result.isjump">selected="true"</eq>>302</option>
                                                <option value="404" <eq value="404" name="result.isjump">selected="true"</eq>>404</option>
                                            </select>
                                            <span class="help-inline"></span>
                                        </div>
                                    </div>  
                                <div class="control-group">
                                        <label class="control-label">
                                            Status</label>
                                        <div class="controls">
                                            <select name="status">
                                                <option value="yes" <eq value="yes" name="result.status">selected="true"</eq>>yes</option>
                                                <option value="no" <eq value="no" name="result.status">selected="true"</eq>>no</option>
                                            </select>
                                            <span class="help-inline"></span>
                                        </div>
                                    </div> 
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">
                                        {$Think.config.SAVE_BUTTON}</button>
                                    <a href="{:U('/Home/Url/index')}" class="btn">{$Think.config.CANCEL_BUTTON}</a>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
