<div class="container">
    <div id="editArticleUrl" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <h3>编辑文章链接</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="hidden">
                <input type="hidden" value="" name="id" />
            </div>
            <div class="control-group">
                <label class="control-label">
                    requestpath</label>
                <div class="controls">
                    <input type="text" placeholder="RequestPath" class="m-wrap medium"  name="requestpath" value="" />
                    <span class="help-inline">不能为空</span>
                </div>
             </div>
             <div class="control-group">
                <label class="control-label">
                    modeltype</label>
                <div class="controls">
                    <select name="modeltype">
                        <option value="article">文章</option>
                        <option value="category">类别</option>
                        <option value="tag">标签</option>
                    </select>
                    <span class="help-inline"></span>
                </div>
             </div>
            <div class="control-group">
                <label class="control-label">
                    jumptype</label>
                <div class="controls">
                    <select name="isjump">
                        <option value="NO">NO</option>
                        <option value="301">301</option>
                        <option value="302">302</option>
                        <option value="404">404</option>
                    </select>
                    <span class="help-inline"></span>
                </div>
            </div>  
            <div class="control-group">
                <label class="control-label">
                    Status</label>
                <div class="controls">
                    <select name="status">
                        <option value="yes">yes</option>
                        <option value="no">no</option>
                    </select>
                    <span class="help-inline"></span>
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <a href="#" class="btn blue" id="updateUrlForArticle">{$Think.config.SAVE_BUTTON}</a>
            <a href="#" class="btn" data-dismiss="modal">{$Think.config.CANCEL_BUTTON}</a>
        </div>
</div>