<!-- BEGIN CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box {$Think.config.PORLET_COLOR}">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i>{$conInfo.remark}{$Think.config.LISTNAME}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT-->
