<style>
    .addImagesDiv{margin-bottom: 20px;border: 1px solid #e0e0e0;padding: 10px;}
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box {$Think.config.PORLET_COLOR}">
            <div class="portlet-title">
                <div class="caption">
                    {$Think.config.ADD_BUTTON}{$conInfo.remark}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tab-pane">
                            <!-- BEGIN FORM-->
                            <form action="{:U('Images/insert')}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <div class="preToCopyImages addImagesDiv">
                                    <div class="control-group">
                                        <label class="control-label">
                                                图片名</label>
                                        <div class="controls">
                                            <input type="text" placeholder="图片名" class="m-wrap medium"  name="name[]" />
                                            <span class="help-inline">不能为空</span>
                                        </div>
                                     </div>
                                     <div class="control-group">
                                        <label class="control-label">图片</label>
                                        <div class="controls">
                                            <input type="file" name="imgFile[]" class="upload-file"/>
                                            <span class="help-inline">750*220图片显示效果最佳,且图片大小不超过2M</span>
                                        </div>
                                        <div class="controls">
                                            <img class="imghead" src="" <empty name="result.image">class="hidden"</empty>/>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:30px;">
                                    <div class="controls">
                                        <a class="btn red addModeImage">添加更多</a>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">
                                        {$Think.config.SAVE_BUTTON}</button>
                                    <a href="{:U('Images/index')}" class="btn">{$Think.config.CANCEL_BUTTON}</a>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
