<!-- BEGIN SEARCHBAR-->
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box {$Think.config.PORLET_COLOR}">
            <div class="portlet-title">
                <div class="caption">
                    {$Think.config.SEARCH_AERA}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form" >
                <div class="row-fluid">
                    <!--BEGIN SEARCH-->
                    <input type="hidden" id="noAjax" value="{$noAjax}"/>
                    <div class="span2">
                        <div class="controls">
                              <select id="selectfinancetype" class="m-wrap small" placeholder="文章来源">
                                  <option value="-1">类型</option>
                                  <option value="支出" <eq name="searchArray.where.type" value="支出">selected="true"</eq>>支出</option>
                                  <option value="收入" <eq name="searchArray.where.type" value="收入">selected="true"</eq>>收入</option>
                                  <option value="转账" <eq name="searchArray.where.type" value="转账">selected="true"</eq>>转账</option>
                              </select>
                        </div>
                    </div>
                     <div class="span2">
                        <div class="controls">
                            <input type="text" id="searchstartdate" name="searchstartdate" class="m-wrap small" placeholder="起始时间" value="{$searchArray.where.startdate}" />
                        </div>
                    </div>
                     <div class="span2">
                        <div class="controls">
                            <input type="text" id="searchenddate" name="searchenddate" class="m-wrap small" placeholder="结束时间" value="{$searchArray.where.enddate}" />
                        </div>
                    </div>
                    <div class="span1">
                        <div class="btn-group">
                            <button class="btn {$Think.config.SEARCH_BUTTON_COLOR}" id="searchbutton">{$Think.config.SEARCH_BUTTON}</button>
                        </div>
                    </div>
                </div>
                    <!--END SEARCH-->
            </div>
        </div>
    </div>
</div>
<!-- END SEARCHBAR-->
<!-- BEGIN CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box {$Think.config.PORLET_COLOR}">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i>{$conInfo.remark}{$Think.config.LISTNAME}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                         <div class="btn-group">
                            <button class="btn green" id="{$Think.config.ADDNAME}{$conInfo.name}">{$Think.config.ADD_BUTTON}{$conInfo.remark}</button>
                         </div>
                    </div>
                </div>
                <table class="display" id="tb{$conInfo.name|ucfirst}List">
                    <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                金额
                            </th>
                            <th>
                                类型
                            </th>
                            <th>
                                类别
                            </th>
                            <th>
                                地点
                            </th>
                            <th>
                                时间
                            </th>
                            <th>
                                商家
                            </th>
                            <th>
                                内容
                            </th>
                            <th>
                                消费人
                            </th>
                            <th>
                                账户
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT-->