<head>
<meta charset="utf-8" />
<title>后台管理|{$conInfo.title}</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="__PUBLIC__/media/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/media/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/media/css/style-metro.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/media/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/media/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/media/css/default.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="__PUBLIC__/media/css/uniform.default.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/media/image/favicon.ico" />
<block name="othercss">
  <if condition="($isSelect2 eq 1)">
      <link href="__PUBLIC__/media/css/select2_metro.css" rel="stylesheet" type="text/css"
      media="screen" />
  </if>
  <if condition="($isMutiSelect eq 1)">
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/multi-select-metro.css">
  </if>
  <if condition="($isLogin eq 1)">
      <link href="__PUBLIC__/media/css/login.css" rel="stylesheet" type="text/css"/>
  </if>
  <if condition="($isDatePicker eq 1)">
      <link href="__PUBLIC__/media/css/datepicker.css" rel="stylesheet" type="text/css"/>
  </if>
  <if condition="($isFileUpload eq 1)">
      <link href="__PUBLIC__/media/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css"/>
  </if>
  <link href="__PUBLIC__/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
</block>

<style type="text/css">
    tr{text-align: center;}
</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e6ea67101700040a01867aa382be912d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>