<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Mcgoldfish | Admin Dashboard Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="__PUBLIC__/media/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PUBLIC__/media/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="__PUBLIC__/media/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/media/css/jqvmap.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="__PUBLIC__/media/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"
        media="screen" />
    <if condition="($isSelect2 eq 1)">
        <link href="__PUBLIC__/media/css/select2_metro.css" rel="stylesheet" type="text/css"
        media="screen" />
    </if>
    <if condition="($isLogin eq 1)">
        <link href="__PUBLIC__/media/css/login.css" rel="stylesheet" type="text/css"/>
    </if>
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="__PUBLIC__/media/image/favicon.ico" />
    <style type="text/css">
        tr{text-align: center;}
    </style>
</head>
<!-- END HEAD -->