 <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar nav-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu">   
                <li>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler hidden-phone"></div>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                </li>
                <li>
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a href="javascript:;" class="remove"></a>
                            <input type="text" placeholder="Search...">
                            <input type="button" class="submit" value=" ">
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>            
                <li <eq name="conInfo.name" value="Index">class="active"</eq>>
                    <a href="{:U('/')}">
                        <i class="icon-home"></i>
                        <span class="title">首页</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li <eq name="conInfo.name" value="Auth">class="active"</eq>>
                    <a href="javascript:;">
                        <i class="icon-wrench"></i>
                        <span class="title">授权</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{:U('Auth/index')}">授权管理</a>
                        </li>
                        <li>
                            <a href="{:U('Node/index')}">节点管理</a>
                        </li>
                    </ul>
                </li>
                <li <eq name="conInfo.name" value="User">class="active"</eq>>
                    <a href="javascript:;">
                        <i class="icon-user"></i>
                        <span class="title">用户</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{:U('User/add')}">新增用户</a>
                        </li>
                        <li>
                            <a href="{:U('User/index')}">用户管理</a>
                        </li>
                    </ul>
                </li>
                <li <eq name="conInfo.name" value="Article">class="active"</eq>>
                    <a href="javascript:;">
                        <i class="icon-file-text"></i>
                        <span class="title">文章</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{:U('Article/add')}">新增文章</a>
                        </li>
                        <li>
                            <a href="{:U('Article/index')}">文章管理</a>
                        </li>
                    </ul>
                </li>
                <li <eq name="conInfo.name" value="Url">class="active"</eq>>
                    <a href="javascript:;">
                        <i class="icon-link"></i>
                        <span class="title">链接</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{:U('Url/add')}">新增链接</a>
                        </li>
                        <li>
                            <a href="{:U('Url/index')}">链接管理</a>
                        </li>
                    </ul>
                </li>
                <li <eq name="conInfo.name" value="Category">class="active"</eq>>
                    <a href="javascript:;">
                        <i class="icon-sitemap"></i>
                        <span class="title">类别</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{:U('Category/add')}">新增类别</a>
                        </li>
                        <li>
                            <a href="{:U('Category/index')}">类别管理</a>
                        </li>
                    </ul>
                </li>
                <li <eq name="conInfo.name" value="Tag">class="active"</eq>>
                    <a href="javascript:;">
                        <i class="icon-tags"></i>
                        <span class="title">标签</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{:U('Tag/add')}">新增标签</a>
                        </li>
                        <li>
                            <a href="{:U('Tag/index')}">标签管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->