<div class="container">
    <div id="addFinanceCategory" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <h3>新增类别</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label class="control-label">
                    类别名称</label>
                <div class="controls">
                    <input type="text" placeholder="类别名称" class="m-wrap medium"  name="displayname" />
                    <span class="help-inline">不能为空</span>
                </div>  
            </div>
        </div>
        <div class="modal-footer">
            <!-- <a href="#" class="btn yellow" id="addTwoCategoryForFinance">新建二级分类</a> -->
            <a href="#" class="btn blue" id="addCategoryForFinance">{$Think.config.SAVE_BUTTON}</a>
            <a href="#" class="btn" data-dismiss="modal">{$Think.config.CANCEL_BUTTON}</a>
        </div>
    </div>
</div>