<div class="container">
    <div id="setBudgetModal" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
            <h3>设置预算</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <input type="hidden" name="userid" value="{$userid}">
                <label class="control-label">
                    用户名</label>
                <div class="controls">
                    <input type="text" readonly="readonly" class="m-wrap medium"  name="name" value="{$username}" />
                </div>  
            </div>
            <div class="control-group">
                <label class="control-label">
                    已设预算</label>
                <div class="controls">
                    <table class="table table-bordered table-hover" id="hisBudgetList">
                        <thead>
                            <tr>
                                <th>月份</th>
                                <th>预算</th>
                                <th>实际使用</th>
                                <th>是否超预算</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="control-group">
                <label class="control-label">
                    本月个人预算</label>
                <div class="controls">
                    <input type="text" placeholder="个人预算" class="m-wrap medium"  name="budget" />
                    <span class="help-inline">不能为空</span>
                </div>  
            </div>
        </div>
        <eq name="noSetBudget" value="true">
            <div class="modal-footer">
                <a href="#" class="btn blue" id="setBudgetSubmit">{$Think.config.SAVE_BUTTON}</a>
                <a href="#" class="btn" data-dismiss="modal">{$Think.config.CANCEL_BUTTON}</a>
            </div>
        </eq>
    </div>
</div>