<if condition="($isSelect2 eq 1)">
<script src="__PUBLIC__/media/js/select2.min.js"></script>
</if>
<if condition="($isMutiSelect eq 1)">
<script src="__PUBLIC__/media/js/jquery.multi-select.js"></script>
</if>
<if condition="($isModal eq 1)">
<script src="__PUBLIC__/media/js/bootstrap-modal.js"></script>
<script src="__PUBLIC__/media/js/bootstrap-modalmanager.js"></script>
</if>
<if condition="($isDatePicker eq 1)">
<script src="__PUBLIC__/media/js/bootstrap-datepicker.js"></script>
</if>
<if condition="($isEcharts eq 1)">
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
</if>
<if condition="($isUeditor eq 1)">
<script src="__PUBLIC__/plugins/ueditor/ueditor.config.js?12312=1231"></script>
<script src="__PUBLIC__/plugins/ueditor/ueditor.all.js"></script>
</if>