<if condition="($isEditor eq 1)">
<!-- Kindeditor js start -->
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
    KindEditor.ready(function(K) {
            window.editor = K.create('#articleContent');
    });
</script>
<!-- Kindeditor js end -->
</if>
<if condition="($isUeditor eq 1)">
<!-- Ueditor js start -->
<!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
    </script>
<!-- Ueditor js end -->
</if>
<if condition="($isSelect2 eq 1)">
<!-- Select2 js start -->
<script src="__PUBLIC__/media/js/select2.min.js" type="text/javascript"></script>
<!-- Select2 js end -->
</if>
<if condition="($isMutiSelect eq 1)">
<!-- MutiSelect js start -->
<script type="text/javascript" src="__PUBLIC__/media/js/jquery.multi-select.js"></script>
<!-- MutiSelect js end -->
</if>
<if condition="($isModal eq 1)">
<!-- Modal js start -->
<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-modalmanager.js"></script>
<!-- Modal js end -->
</if>
<if condition="($isDatePicker eq 1)">
<!-- Datepicker start -->
<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-datepicker.js"></script>
<!-- Datepicker end -->
</if>
<if condition="($isEcharts eq 1)">
<!-- Echart start -->
<!-- <script type="text/javascript" src="__PUBLIC__/plugins/dark.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/plugins/echarts.min.js"></script>
<!-- Echar end -->
</if>