<if condition="($isSelect2 eq 1)">
<script src="__PUBLIC__/media/js/select2.min.js"></script>
</if>
<if condition="($isMutiSelect eq 1)">
<script src="__PUBLIC__/media/js/jquery.multi-select.js"></script>
</if>
<if condition="($isModal eq 1)">
<script src="__PUBLIC__/media/js/bootstrap-modal.js"></script>
<script src="__PUBLIC__/media/js/bootstrap-modalmanager.js"></script>
</if>
<if condition="($isDatePicker eq 1)">
<script src="__PUBLIC__/media/js/bootstrap-datepicker.js"></script>
</if>
<if condition="($isEcharts eq 1)">
<script src="__PUBLIC__/plugins/echarts.min.js"></script>
</if>
<if condition="($isSimditor eq 1)">
	<script src="__PUBLIC__/plugins/simple-module/lib/module.js"></script>
	<script src="__PUBLIC__/plugins/simple-hotkeys/lib/hotkeys.js"></script>
	<script src="__PUBLIC__/plugins/simple-uploader/lib/uploader.js"></script>
	<script src="__PUBLIC__/plugins/simditor/lib/simditor.js"></script>
	<script>
		var editor = new Simditor({
  			textarea: $('#editor'),
  			upload: {
  				url: '/Article/saveImage/',
  				fileKey: 'upload_file',
  				connectionCount: 3,
    			leaveConfirm: 'Uploading is in progress, are you sure to leave this page?'
  			},
  			toolbar: [
					  'title',
					  'bold',
					  'italic',
					  'underline',
					  'strikethrough',
					  'fontScale',
					  'color',
					  'ol',         
					  'ul',            
					  'blockquote',
					  'code',           
					  'table',
					  'link',
					  'image',
					  'hr',
					  'indent',
					  'outdent',
					  'alignment'
					]
  			
		});
	</script>
</if>