<extend name="public:appv3" />
<block name="main">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">系统信息</h3></div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tbody>
                <volist name="info" id="vo">
                    <tr>
                        <td>{$key}</td>
                        <td>{$vo}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
</block>