<extend name="public:appv2" />
<block name="main">
<div class="portlet box {$Think.config.PORLET_COLOR}">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list"></i>后台信息
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row-fluid">
            <div class="span6">
                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-coffee"></i>系统信息</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <volist name="info" id="vo">
                                    <tr>
                                        <td>{$key}</td>
                                        <td>{$vo}</td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</block>