<extend name="Public:appv3" />
<block name="main">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">添加节点</h3>
    </div>
    <form action="{:U('node/insert')}" method="POST" class="form-horizontal" role="form">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label">节点名称</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">节点显示名称</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="title" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">节点等级</label>
                <div class="col-md-6">
                    <select name="level" id="" class="form-control">
                        <for start="1" end="4">
                            <option value="{$i}">{$i}</option>
                        </for>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">父节点</label>
                <div class="col-md-6 pid-select">
                    <select name="pid" class="form-control">
                        <option value="0">无</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">节点排序</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="sort" value="9"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">节点备注</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="remark" />
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="{:U('node/index')}" class="btn col-md-offset-2">取消</a>
            <button type="submit" class="btn btn-success">确定</button>
        </div>
    </form>
</div>
</block>
<block name="pagejs">
    <script>
        $(function(){
           $('select[name=level]').change(function(){
                var level = $(this).val();
                $('.pid-select').empty();
                if(level == 1)
                {
                    var level_one_html = '<select name="pid" class="form-control"><option value="0">无</option> </select>';
                    $('.pid-select').append(level_one_html);
                }else{
                    $.ajax({
                        url: '/node/ajaxGetParentNode',
                        data: {level: level},
                        type: 'post',
                        success: function(data){
                            var level_html = '<select name="pid" class="form-control">';
                            for (var i=0;i<data.length;i++)
                            {
                                level_html += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                            }
                            level_html += '</select>';
                            $('.pid-select').append(level_html);
                        }
                    });
                }

           });
        });
    </script>
</block>
