<!-- BEGIN SEARCHBAR-->
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    {$Think.config.SEARCH_AERA}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form" >
                <div class="row-fluid">
                    <!--BEGIN SEARCH-->
                    <input type="hidden" id="noAjax" value="{$noAjax}"/>
                    <div class="span2">
                        <div class="btn-group">
                            <button class="btn blue" id="searchbutton">{$Think.config.SEARCH_BUTTON}</button>
                        </div>
                    </div>
                    <!--END SEARCH-->
                <div>
            </div>
        </div>
    </div>
</div>
<!-- END SEARCHBAR-->
<!-- BEGIN CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plus"></i>节点列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                         <div class="btn-group">
                            <button class="btn green" id="addNode">{$Think.config.ADD_BUTTON}节点</button>
                         </div>
                    </div>
                </div>
                <table class="display" id="tbNodeList">
                    <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <th>
                                name
                            </th>
                            <th>
                                status
                            </th>
                            <th>
                                pid
                            </th>
                            <th>
                                addtime
                            </th>
                             <th>
                                lastupdatetime
                            </th>
                            <th>
                                remark
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT-->