<extend name="Public:appv3" />
<block name="main">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">节点列表</h3>
    </div>
    <div class="panel-body">
        <a href="{:U('/node/add')}" class="btn btn-success">{$Think.config.ADD_BUTTON}节点</a>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        TITLE
                    </th>
                    <th>REMARK</th>
                    <th>
                        SORT
                    </th>
                    <th>
                        PID | LEVEL
                    </th>
                    <th>
                        ADDTIME | LASTUPDATETIME
                    </th>
                    <th>STATUS</th>
                    <th>
                        OPERATION
                    </th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="node">
                    <tr>
                        <td>{$node['id']}</td>
                        <td>{$node['name']}</td>
                        <td>{$node['title']}</td>
                        <td>{$node['remark']}</td>
                        <td>{$node['sort']}</td>
                        <td>{$node['pid']} | {$node['level']}</td>
                        <td>{$node['created_at']} | {$node['updated_at']}</td>
                        <td>{$node['status']}</td>
                        <td>
                            <a href="{:U('node/edit', ['id' => $node['id']])}">编辑</a>
                            <a href="{:U('user/delete', ['id' => $node['id']])}">删除</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
        {$show}
    </div>
</div>
</block>