<extend name="public:appv2" />
<block name="main">
    <h3 class="page-title">编辑组别</h3>
    <div class="panel panel-default">
        <div class="panel-body">
                    <div class="container-fluid">
            <div class="row">
             <div class="col-md-6">
                 <form action="{:U('role/update')}" method="POST" class="form-horizontal" role="form">
                    <input type="hidden" name="id" value="{$result.id}">
                    <div class="form-group">
                        <label>组别名称</label>
                        <input class="form-control" type="text" name="name" value="{$result.name}" />
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select name="status" class="form-control">
                            <option value="active" <eq name="$result.status" value="active">selected="true"</eq>>启用</option>
                            <option value="inactive" <eq name="$result.status" value="inactive">selected="true"</eq>>禁用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>简介</label>
                        <input class="form-control" type="remark" name="remark" value="{$result.remark}" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">{$Think.config.SAVE_BUTTON}</button>
                        <a href="{:U('role/index')}" class="btn btn-default">{$Think.config.CANCEL_BUTTON}</a>
                    </div>
                </form> 
             </div>
         </div> 
        </div>
        </div>
    </div>
</block>

