<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<include file="Public:head" />
<body class="page-header-fixed page-sidebar-fixed">
    <include file="Public:header" />
    <div class="page-container">
        <include file="Public:menu" />
        <div class="page-content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="breadcrumb my-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="/">Home</a>
                                <i class="icon-angle-right">
                                </i>
                            </li>
                            <volist name="breadCrumb" id="vo">
                                <li>
                                    <a href="">{$vo}</a><neq name="key" value="1">
                                        <i class="icon-angle-right"></i></neq>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
                <div>
                    {__CONTENT__}
                </div>
              </div>
            </div>
        </div>
    </div>
    <include file="Public:footer"/>
    <include file="Public:footer-js"/>
</body>
</html>
