<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->   
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="icon-reorder"></i>Sample Form</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#" class="form-horizontal">
					<div class="control-group">
						<label class="control-label">User Name</label>
						<div class="controls">
							<input type="text" class="span6 m-wrap" placeholder="User Name">
							<span class="help-inline">Account to login</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Email Address</label>
						<div class="controls">
							<div class="input-icon left">
								<i class="icon-envelope"></i>
								<input class="m-wrap " type="text" placeholder="Email Address">    
							</div>
						</div>
					</div>	
					<div class="form-actions">
						<button type="submit" class="btn blue">Submit</button>
						<button type="button" class="btn">Cancel</button>                            
					</div>
				</form>
				<!-- END FORM-->       
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>