<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    {$Think.config.ADD_BUTTON}用户
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tab-pane">
                            <!-- BEGIN FORM-->
                            <form action="{:U('User/insert')}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <div class="control-group">
                                    <label class="control-label">用户账号</label>
                                    <div class="controls">
                                        <input type="text" placeholder="用户账号" class="m-wrap large"  name="account" />
                                        <span class="help-inline">不能为空</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">用户昵称</label>
                                    <div class="controls">
                                        <input type="text" placeholder="用户昵称" class="m-wrap large"  name="nickname" />
                                        <span class="help-inline">不能为空</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">用户邮箱</label>
                                    <div class="controls">
                                        <input type="text" placeholder="用户邮箱" class="m-wrap large"  name="email" />
                                        <span class="help-inline">不能为空</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">指定用户组别</label>
                                    <div class="controls">
                                        <select data-placeholder="组别选择" class="chosen span3 chzn-done" tabindex="-1" id="selectrole" name="role_id" style="display: none;">
                                            <option></option>
                                            <volist name="allRoleInfo" id="vo">
                                                <option value='{$vo.id}' >{$vo.name}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">
                                        {$Think.config.SAVE_BUTTON}</button>
                                    <a href="{:U('User/index')}" class="btn">{$Think.config.CANCEL_BUTTON}</a>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
