<extend name="Public:appv2" />
<block name="main">
<h3 class="page-title">修改用户</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
             <div class="col-md-6">
                 <form action="{:U('user/update')}" method="POST" class="form-horizontal" role="form">
                    <input type="hidden" value="{$result.id}" name="id" />
                    <div class="form-group">
                        <label>用户账号</label>
                        <input class="form-control" type="text" name="account" value="{$result.account}" />
                    </div>
                    <div class="form-group">
                        <label>用户昵称</label>
                        <input class="form-control" type="text" name="nickname" value="{$result.user_name}" />
                    </div>
                    <div class="form-group">
                        <label>电子邮箱</label>
                        <input class="form-control" type="email" name="email" value="{$result.email}" />
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <label>组别</label>
                            <select class="form-control" name="role_id">
                                <volist name="allRoleInfo" id="vo">
                                    <option value='{$vo.id}' <eq name="vo:id" value="$roleInfo.role_id">selected="selected"</eq>>{$vo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">{$Think.config.SAVE_BUTTON}</button>
                        <a href="{:U('User/index')}" class="btn btn-default">{$Think.config.CANCEL_BUTTON}</a>
                    </div>
                </form> 
             </div>
         </div> 
        </div>
    </div>
</div>
</block>