<extend name="public:appv2" />
<block name="main">
<h3 class="page-title">用户管理</h3>
<div class="panel panel-default">
    <div class="panel-heading">用户列表</div>
    <div class="panel-body">
        <a href="{:U('/user/add')}" class="btn btn-success">{$Think.config.ADD_BUTTON}用户</a>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        account
                    </th>
                    <th>
                        nickname
                    </th>
                    <th>
                        last_login_time
                        <br/>
                        last_login_ip
                    </th>
                     <th>
                        login_count
                    </th>
                    <th>
                        email
                    </th>
                    <th>
                        remark
                    </th>
                    <th>
                        status
                    </th>
                    <th>
                        operation
                    </th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="user">
                    <tr>
                        <td>{$user['id']}</td>
                        <td>{$user['account']}</td>
                        <td>{$user['nickname']}</td>
                        <td>
                            {$user.['last_login_time']}
                            <br/>
                            {$user['last_login_ip']}
                        </td>
                        <td>{$user['login_count']}</td>
                        <td>{$user['email']}</td>
                        <td>{$user['remark']}</td>
                        <td>{$user['status']}</td>
                        <td>
                            <a href="{:U('user/edit', ['id' => $user['id']])}">编辑</a>
                            <a href="{:U('user/delete', ['id' => $user['id']])}">删除</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
        {$show}
    </div>
</div>
</block>