<div class="row-fluid">
    <div class="span12">
        <div class="portlet box {$Think.config.PORLET_COLOR}">
            <div class="portlet-title">
                <div class="caption">
                    {$Think.config.EDIT_BUTTON}{$conInfo.remark}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tab-pane">
                            <!-- BEGIN FORM-->
                            <form action="{:U('[controllerName]/[actionUpdate]')}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <div class="hidden">
                                    <input type="hidden" value="{$result.id}" name="id" />
                                </div>
                                <div class="control-group">
                                        <label class="control-label">
                                            displayname</label>
                                    <div class="controls">
                                        <input type="text" placeholder="displayname" class="m-wrap medium"  name="displayname" value="{$result.displayname}" />
                                        <span class="help-inline">不能为空</span>
                                    </div>
                                 </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">
                                        {$Think.config.SAVE_BUTTON}</button>
                                    <a href="{:U('[controllerName]/[actionIndex]')}" class="btn">{$Think.config.CANCEL_BUTTON}</a>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
