<div class="row-fluid">
    <div class="span12">
        <div class="portlet box {$Think.config.PORLET_COLOR}">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plus"></i>权限给予
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tab-pane">
                            <!-- BEGIN FORM-->
                            <form action="{:U('Auth/insertAuth')}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <input type="hidden" name="role_id" value="{$roleInfo.id}">
                                <div class="control-group">
                                    <label class="control-label">组别名称</label>
                                    <div class="controls">
                                        <input type="text" placeholder="组别名称" class="m-wrap large"  name="name" value="{$roleInfo.name}" disabled="true" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="span8">
                                        <!-- BEGIN BORDERED TABLE PORTLET-->
                                        <div class="portlet box yellow">
                                            <div class="portlet-title">
                                                <div class="caption"><i class="icon-coffee"></i>主模块</div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse"></a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                
                                                    <volist name="nodeInfo" id="vo">
                                                        <volist name="vo.child" id="voo">
                                                            <div class="portlet box yellow ">
                                                                <div class="portlet-title authdivone">
                                                                    <div class="caption">
                                                                        <input class="oneLevel checkinput" type="checkbox" checked="checked" name="access[]" value="{$voo.id}"/>{$voo.title}
                                                                    </div>
                                                                    <div class="tools">
                                                                        <a href="javascript:;" class="collapse"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body authdivtwo">
                                                                    <volist name="voo.child" id="vooo">
                                                                        <input class="twoLevel checkinput" name="access[]" type="checkbox" checked="checked" value="{$vooo.id}">{$vooo.title}
                                                                    </volist>
                                                                </div>
                                                            </div>
                                                        </volist>
                                                    </volist>
                                                
                                            </div>
                                        </div>
                                        <!-- END BORDERED TABLE PORTLET-->
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue"><i class="icon-ok"></i>保存</button>
                                    <a href="{:U('Auth/index')}" class="btn">取消</a>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
